<div class="navbar bg-base-300 shadow-sm">
  <div class="flex-1">
    <a routerLink="home/main/" class="btn btn-ghost text-xl">1MMART</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
          <span class="badge badge-sm indicator-item">{{
            cart.items.length
          }}</span>
        </div>
      </div>
      <div
        tabindex="0"
        class="card card-compact dropdown-content bg-base-100 z-1 mt-3 w-52 shadow"
      >
        <div class="card-body" *ngFor="let items of cart.items">
          <span class="text-lg font-bold">{{ cart.items.length }} Items</span>
          <span class="text-info"
            >Subtotal: ${{ totalprice + items.price }}</span
          >
          <div class="card-actions">
            <a routerLink="cart/">
              <button class="btn btn-primary btn-block">View cart</button>
            </a>
          </div>
        </div>null
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          @if (this.user()?.photoURL; as imgUrl ){
          <img
            [src]="imgUrl ?? null"
            alt="User Icon"
            class="w-8 h-8 rounded-full"
            (click)="this.isMenuOpen = !this.isMenuOpen"
          />
          } @else {
          <img
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
            alt="User Icon"
            class="w-8 h-8 rounded-full"
            (click)="this.isMenuOpen = !this.isMenuOpen"
          />
          }
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li class="font-bold text-2xl">
          <a routerLink="dashboard">{{ this.user()?.displayName }}</a>
        </li>
        @if (!this.user()?.photoURL; as imgUrl ){
        <li>
          <a routerLink="home/login/">Login</a>
        </li>
        } @if (this.user()?.photoURL; as imgUrl ){
        <li>
          <a (click)="logOut()">Logout</a>
        </li>
        }
        <li><a>Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</div>
