<ul class="menu menu-horizontal lg:mb-2 bg-base-100 rounded-box flex lg:w-full">
  <li>
    <details>
      <summary><b>ALL CATEGORIES</b></summary>
      <ul class="bg-base-100 rounded-box z-1">
        <li><a>Mobile Phones</a></li>
        <li><a>Bikes</a></li>
        <li><a>Watches</a></li>
        <li>
          <details>
            <summary>Clothes</summary>
            <ul>
              <li><a>Men</a></li>
              <li><a>Women</a></li>
              <li><a>Boys</a></li>
              <li><a>Girls</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li><a href="home/mobiles">Mobile Phones</a></li>
  <li><a>Motorcycles</a></li>
  <li><a>Watches</a></li>
  <li><a>Clothes</a></li>
</ul>
