<ul class="menu menu-horizontal lg:mb-2 bg-base-100 rounded-box flex lg:w-full">
  <li>
    <details>
      <summary><b>ALL CATEGORIES</b></summary>
      <div *ngFor="let draw of categories.category">
        <ul class="bg-base-100 rounded-box z-1">
          <li>
            <details>
              <summary [routerLink]="['/category/', draw.mainCat]">
                {{ draw.mainCat }}
              </summary>
              <ul>
                <li>
                  <a>{{ draw.subCat }}</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </details>
  </li>
  <div *ngFor="let cat of categories.category">
    <li>
      <a [routerLink]="['/category/', cat.mainCat]">{{ cat.mainCat }}</a>
    </li>
  </div>
</ul>
