<ul class="menu menu-horizontal lg:mb-2 bg-base-100 rounded-box flex lg:w-full">
  <li>
    <details>
      <summary><b>ALL CATEGORIES</b></summary>
      <ul>
        <li><a>Submenu 1</a></li>
        <li><a>Submenu 2</a></li>
        <li>
          <details>
            <summary>Parent</summary>
            <ul>
              <li><a>item 1</a></li>
              <li><a>item 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
  <li><a href="home/mobiles">Mobile Phones</a></li>
  <li><a>Cars</a></li>
  <li><a>Motorcycles</a></li>
  <li><a>Houses</a></li>
  <li><a>Video-Audios</a></li>
  <li><a>Tablets</a></li>
  <li><a>Land & Plots</a></li>
</ul>
