<ul class="menu bg-base-300 rounded-xl p-4 w-70 mt-7">
  <li class="text-base font-bold">Categories</li>
  <li><a>All categories</a></li>
  <li>
    <a>{{ page }}</a>
    <ul *ngFor="let category of cat">
      <li>
        <a>{{ category }}</a>
      </li>
    </ul>
  </li>
  <li class="text-base font-bold">Location</li>
  <li>
    <select class="select">
      <option disabled selected>Pakistan</option>
      <option>Lahore</option>
      <option>Karachi</option>
      <option>Islamabad</option>
      <option>Faisalabad</option>
      <option>Multan</option>
      <option>Hyderabad</option>
      <option>Rawalpindi</option>
      <option>Gujranwala</option>
    </select>
  </li>
</ul>
