<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/vehicles.29fb808d5118f0db56f68a39ce5392e2.png"
    />
    <p class="mx-auto  my-2">Vehicles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/property-for-sale.e3a00dbfdaa69fe5f713665f1069502f.png"
    />
    <p class="mx-auto  my-2">Property</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/electronics-home-appliances.46e034dd8adca44625c2c70e4d1b5984.png"
    />
    <p class="mx-auto  my-2">Electronics</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
<div class=" max-w-max mx-2  my-2">
  <div class=" flex flex-col mx-auto  my-2">
    <img
      class="mask mask-circle w-9/12 mx-auto  my-2"
      src="https://www.olx.com.pk/assets/mobiles.8c768c96bfde33f18fcf5af2a8b9cf71.png"
    />
    <p class="mx-auto  my-2">Mobiles</p>
  </div>
</div>
