<div class="h-full flex items-center justify-center bg-gray-100">
  <div
    class="bg-gray-200 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 h-full items-center justify-center flex"
  >
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
      <div class="relative bg-white rounded-lg shadow">
        <div class="p-5">
          <div class="text-center">
            <p class="mb-3 text-2xl text-black font-bold leading-5">
              Login to your account
            </p>
          </div>
          <div class="mt-7 flex flex-col">
            <button
              class="inline-flex h-10 w-full items-center justify-center gap-2 rounded border border-slate-300 p-2 text-sm text-black font-medium cursor-pointer hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-300 focus:ring-offset-2"
              (click)="signInWithGoogle()"
            >
              <img
                src="https://www.svgrepo.com/show/475656/google-color.svg"
                alt="Google"
                class="h-[18px] w-[18px]"
              />Continue with Google
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
